{erl_opts, [debug_info]}.
{deps, [{cowboy, "2.2.0"}, {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}} ]}.

{relx, [{release, {file_server, "0.0.1"},
         [file_server]},

        {dev_mode, true},
        {include_erts, true},
	{sys_config, "config/sys.config"},
        {extended_start_script, true}]}.